body{
    background-color: rgb(0, 118, 139);
}

#heading{
    text-align: center;
    color: wheat;
    font-size: 10vh;
    margin-top: 20vh;
}

#background-image{
    position: fixed; 
    margin-top: -10vh;
    height: 40vh;
    width: 100vw;
    top: 10%;
    z-index: -1;
}

#subheading{
    text-align: center;
    margin-top: 10vh;
    color: wheat;
    font-size: 5vh;
    margin-left: 7vw;
}

#audio-symbol{
    position: absolute;
    left: 42%;
}

#podcast-audio{
    position: absolute;
    left: 45%;
    top: 80%;
}

#buttons-container{
    background-color: rgb(67, 69, 67);
    position: fixed;
    height: 255vh;
    width: 12vw;
    margin-left: -2vw;
    top: 0%;
}

#container-content{
    margin-top: 20vh;
}

.content{
    z-index: 1;
    color: white;
    margin-left: 18%;
    font-size: 2.5vh;
    margin-top: 6vh;
    box-shadow: 3px 3px 6px white;
}

#logo{
    margin-top: -15vh;
    font-size: 3vh;
    box-shadow: none;
}

@media screen and (max-width: 1500px) {
    #podcast-audio{
        margin-top: 10vh;
    }
    #subheading{
        font-size: 4vh;
    }
}
